* {
    box-sizing: border-box;
}

.gameboard {
    margin: 30px 250px 30px 150px;
  /*  background-color: turquoise; */
}

.scoreboard {
    display: flex;
}

h1 { 
    margin-top: 30px; 
    text-align: center; 
    background-color: lightyellow;
    width: 700px; 
}

.score {
    width: 250px;
    height: 110px; 
    background-color: black; 
    color: whitesmoke;
    margin-left: 80px; 
    display: flex;  
    justify-content: space-between; 
}

.scoreNum {
    color: navajowhite; 
    font-size: 70px; 
}

h3 {
    color: red;
    font-size: 30px;
    text-align: center;
    margin: 0; 
    border: 2px solid red; 
    width: 350px;
    padding: 0px 10px 0px 10px;
    margin-left: 200px; 
    border-radius: 10px;
    background: #73AD21
    
}
 .toprow {
    display: flex;
    background-color: turquoise;
   /* background: palegreen;*/
  /* background: white; */
 /*   border: 1px solid black; */
    width: 450px;
    height: 125px;
 }

 #b1Box {
 /*    background: yellow; */
 /*   background: white; */
     width: 33.3%;
     border-right: 5px solid black;
     border-bottom: 5px solid black;
  /*   background-image:url('LetterO.webp'); */
 }
#b2Box {
 /*   background: purple; */
    width: 33.3%;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
 /*   background-image:url('LetterX.webp') */
}
#b3Box {
 /*   background: orange; */
    width: 33.3%;
    border-bottom: 5px solid black;
}
 .midrow {
     display: flex;
   /*  background: paleturquoise;*/
     background: turquoise;
     border: red;
     width: 450px;
     height: 125px;
 }
#b4Box {
  /*  background: yellow;*/
    width: 33.3%;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}
#b5Box {
 /*   background: purple;*/
    width: 33.3%;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}
#b6Box {
 /*   background: orange;*/
    width: 33.3%;
    border-bottom: 5px solid black;
}
 .botrow {
     display: flex;
   /*  background: palegoldenrod;*/
     background: turquoise;
     border:red; 
     width: 450px;
     height: 125px;
 }
#b7Box {
  /*  background: yellow;*/
    width: 33.3%;
    border-right: 5px solid black;
}
#b8Box {
  /*  background: purple;*/
    width: 33.3%;
    border-right: 5px solid black;
}
#b9Box {
 /*   background: orange;*/
    width: 33.3%;
}

button {
    font-size: 16px;
    color: white; 
    position: absolute;
    left: 22%;
    background-color: grey;
    border-radius: 15px; 
    box-shadow: 4px 4px 8px red;; 
    
}